<nav class="flex items-center justify-between flex-wrap bg-blue-500 p-6 fixed w-full">
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto ">
        <div class="text-sm lg:flex-grow">
            <a href="/productos" class="block lg:inline-block lg:mt-0 text-white hover:text-white mr-4 text-right">
                IR A PRODUCTOS
            </a>
        </div>
    </div>
</nav>